
#canvas {
  border: 1px solid black;
}
#palette button:nth-child(1) {
  background-color: red
}
#palette button:nth-child(2) {
  background-color: blue
}
#palette button:nth-child(3) {
  background-color: green
}
