body {
  margin: 0;
  padding: 0;
  background-color: #638C7E;
}

#tools {
  color: #663977;
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: #C5D9D2;
  outline: 1px #638C7E solid;
  border-bottom: 2px solid #C5CFDF;
}

.colours {
  height: 16px;
  width: 10px;
}

img {
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  margin-top: 6px;
}

#tool-images {
  width: auto;
  margin: 25px 0 10px 17px;
}

#tool-images img:hover, .tool-active {
  cursor: pointer;
  border: 1px solid #638C7E;
  position: static;
  border-radius: 5px;
}

#canvas {
  border: 1px solid #638C7E;
  margin-left: 86px;
  margin-top: 6px;
  background-color: white;
}

#palette1 {
  position: absolute;
  margin-left: 86px;
}

#palette2 {
  position: absolute;
  margin-left: 86px;
  margin-top: 20px;
}

#palette1 button:nth-child(1) {
  background-color: black;
  top: inherit;
}

#palette1 button:nth-child(2) {
  background-color: red;
}

#palette1 button:nth-child(3) {
  background-color: blue;
}

#palette1 button:nth-child(4) {
  background-color: green;
}

#palette1 button:nth-child(5) {
  background-color: Purple;
}

#palette1 button:nth-child(6) {
  background-color: #ff9900;
}

#palette1 button:nth-child(7) {
  background-color: yellow;
}

#palette1 button:nth-child(8) {
  background-color: #66ff66;
}

#palette2 button:nth-child(1) {
  background-color: #8c8c8c;
}

#palette2 button:nth-child(2) {
  background-color: #660000;
}

#palette2 button:nth-child(3) {
  background-color: #4da6ff;
}

#palette2 button:nth-child(4) {
  background-color: #8cd98c;
}

#palette2 button:nth-child(5) {
  background-color: #ff66ff;
}

#palette2 button:nth-child(6) {
  background-color: #4d2600;
}

#palette2 button:nth-child(7) {
  background-color: #8533ff;
}

#palette2 button:nth-child(8) {
  background-color: white;
}
