/*
  body {
<<<<<<< HEAD
    color: black;
    background-color: white;
=======

>>>>>>> e7109ac74742195a3e323b1a4af4045be55de198
  }

  #canvas {
    height: 480px;
    width: 960px;
    border: 1px solid #000000;
    margin: 0 auto;
    display: block;
  }*/
